/* 1.font-family */
/* home_services */



@font-face {
    font-family: 'ralewayblack';
    src: url('fonts/raleway-black-webfont.woff2') format('woff2'),
         url('fonts/raleway-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayblack_italic';
    src: url('fonts/raleway-blackitalic-webfont.woff2') format('woff2'),
         url('fonts/raleway-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaybold';
    src: url('fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaybold_italic';
    src: url('fonts/raleway-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/raleway-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayextrabold';
    src: url('fonts/raleway-extrabold-webfont.woff2') format('woff2'),
         url('fonts/raleway-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayextrabold_italic';
    src: url('fonts/raleway-extrabolditalic-webfont.woff2') format('woff2'),
         url('fonts/raleway-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayextralight';
    src: url('fonts/raleway-extralight-webfont.woff2') format('woff2'),
         url('fonts/raleway-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayextralight_italic';
    src: url('fonts/raleway-extralightitalic-webfont.woff2') format('woff2'),
         url('fonts/raleway-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayitalic';
    src: url('fonts/raleway-italic-webfont.woff2') format('woff2'),
         url('fonts/raleway-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaylight';
    src: url('fonts/raleway-light-webfont.woff2') format('woff2'),
         url('fonts/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaylight_italic';
    src: url('fonts/raleway-lightitalic-webfont.woff2') format('woff2'),
         url('fonts/raleway-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaymedium';
    src: url('fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('fonts/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaymedium_italic';
    src: url('fonts/raleway-mediumitalic-webfont.woff2') format('woff2'),
         url('fonts/raleway-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ralewayregular';
    src: url('fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('fonts/raleway-semibold-webfont.woff2') format('woff2'),
         url('fonts/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaysemibold_italic';
    src: url('fonts/raleway-semibolditalic-webfont.woff2') format('woff2'),
         url('fonts/raleway-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaythin';
    src: url('fonts/raleway-thin-webfont.woff2') format('woff2'),
         url('fonts/raleway-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaythin_italic';
    src: url('fonts/raleway-thinitalic-webfont.woff2') format('woff2'),
         url('fonts/raleway-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* default style sheet */
body{
	margin:0;
	padding:0;
}
h1{
	font-size:40px;
			line-height:50px;
	font-family: 'ralewaybold';
}
h1{
	font-size:38px;
			line-height:44px;
	font-family: 'ralewaybold';
}
h2{
	font-size:34px;
			line-height:40px;
	font-family: 'ralewaybold';
}
h3{
	font-size:30px;
			line-height:36px;
	font-family: 'ralewaybold';
}
h4{
	font-size:26px;
			line-height:30px;
	font-family: 'ralewaybold';
}
h5{
	font-size:22px;
			line-height:26px;
	font-family: 'ralewaybold';
}
h6{
	font-size:18px;
			line-height:24px;
	font-family: 'ralewaybold';
}
p{
		font-size:18px;
		line-height:24px;
	font-family: 'ralewaymedium';
}
a{
		font-size:18px;
				line-height:24px;
	font-family: 'ralewaymedium';
}
.content_wrap {
    width: 90%;
    margin: 0 auto;
	max-width:1200px;
}
#quote h1,#quote h2,#quote h3,#quote h4,#quote h5,#quote h6{
	font-family: 'ralewaybold_italic';
}
.quote h1,.quote h2,.quote h3,.quote h4,.quote h5,.quote h6{
	font-family: 'ralewaybold_italic';
}
/* header section */
header {
    display: block;
    position: relative;
    box-shadow: 0 0 6px 1px #868080c7;
}
.top_header {
    display: block;
    position: relative;
    background-color: #a11a25;
    font-size: 0;
}
.top_header ul {
    padding: 0;
    margin: 0;
}
.top_header ul li {
    list-style-type: none;
    display: inline-block;
}
.top_header ul li a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}
.top_company {
    width: 30%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.top_company ul li {
    margin-right: 5px;
    padding-right: 5px;
    position: relative;
}
.top_company ul li:last-child {
    margin: 0;
    padding: 0;
}
.top_company ul li::after {
    position: absolute;
    content: '|';
    top: 1px;
    right: -1px;
    width: 2px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
}
.top_company ul li:last-child::after {
    display: none;
}
.top_contact {
    width: 30%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.top_contact ul li {
    margin-right: 5px;
    padding-right: 5px;
    position: relative;
}
.top_contact ul li:last-child {
    margin: 0;
    padding: 0;
}
.top_contact ul li::after {
    position: absolute;
    content: '|';
    top: 1px;
    right: -1px;
    width: 2px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
}
.top_contact ul li:last-child::after {
    display: none;
}
.top_social {
    width: 40%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    text-align: right;
}
.top_social ul {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.top_social ul li {
    position: relative;
    vertical-align: middle;
	margin: 0 3px;
}
.language_selection {
    display: inline-block;
    position: relative;
    vertical-align: middle;
	    margin-left: 20px;
}
.language_selection h6{
  margin:0;
  color:#fff;
}
/* header bottom */
.bottom_header {
    display: block;
    position: relative;
}
.logo {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.header_menu {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: calc(100% - 200px);
    text-align: right;
}
.header_menu ul {
    margin: 0;
    padding: 0;
}
.header_menu ul li {
    margin: 0 10px;
	list-style-type:none;
	display:inline-block;
}
.header_menu ul li:last-child {
    margin: 0 0 0 10px;
}
.header_menu ul li a {
    text-decoration: none;
    color: #000;
}
/* slider section */
.con_wrap_slider {
    width: 90%;
    margin: 0 auto;
    max-width: 1400px;
}
.slider_cont {
    position: absolute;
    top: 0;
    width: 30%;
    left: 27%;
}
.slider_cont h3 {
    color: #fff;
}
/* home information */
section#home_information {
    display: block;
    position: relative;
    margin-top: -90px;
    padding: 0 0 50px 0;
}
.information_content {
    width: 85%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0;
    box-shadow: 0px 0px 10px 2px #0000003d;
    font-size: 0;
    background-color: #fff;
    display: flex;
}
.three_column {
    width: calc(100% / 3 );
    display: flex;
    flex-direction: column;
    position: relative;
    vertical-align: top;
    padding: 0 0 40px 0;
}
.three_column .cus_content {
    padding: 0 20px;
}

.three_column.check_in {
    align-self: center;
	padding:0;
}
.check_in ul {
    padding: 0;
    margin: 0;
}
.check_in ul li {
    list-style-type: none;
    padding: 15px 0;
    border-bottom: 1px solid #000;
}
.check_in ul li:last-child {
    border-bottom: none;
}
.check_in ul li a {
    text-decoration: none;
}
.check_in ul li img {
    width: auto;
    max-width: 35px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.check_in ul li h4 {
    display: inline-block;
    margin: 0 0 0 10px;
	    position: relative;
    vertical-align: middle;
}
.three_column.latest_blog {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    width: calc(100% / 3 - 2px);
}
.latest_blog h4 {
    padding: 10px 20px;
    background-color: #a11a25;
    color: #fff;
    margin: 0;
}
.latest_blog h5 {
    margin: 10px 0;
}
.latest_blog a {
    text-decoration: none;
    color: #a11a25;
}
.three_column.latest_blog p, a {
    font-size: 14px;
    line-height: 20px;
}
.three_column.weather {
    align-self: flex-start;
}
.weather h4 {
    padding: 10px 20px;
    background-color: #a11a25;
    color: #fff;
    margin: 0;
}
.weather_value {
    display: inline-block;
    position: relative;
    vertical-align: top;
    text-align: left;
    width: 30%;
}
.weather_value h5 {
    margin: 20px 0 10px 0;
}
.weather img {
    width: auto;
    max-width: 180px;
    position: relative;
    top: 50px;
    right: -50px;
}
/* home_content */
#home_content {
    display: block;
    position: relative;
}
#home_content h2 {
    text-align: center;
    position: relative;
}
#home_content h2::after {
    content: '';
    width: 100px;
	position: absolute;
    height: 5px;
    bottom: -15px;
    background-color: #a11a25;
    left: 50%;
	transform: translateX(-50%);
	-webkit-transform: -webkit-translateX(-50%);
	-moz-transform:    -moz-translateX(-50%);
	-o-transform:      -o-translateX(-50%);
    border-radius: 6px;
}
/* separator_one */
#separator_one {
    background-image: url(img/separator1.png);
    height: 700px;
    background-size: cover;
    display: table;
    width: 100%;
    position: relative;
    z-index: 1;
}
#separator_one h1,#separator_one h2,#separator_one h3,#separator_one h4,#separator_one h5,#separator_one h6 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}
/* home services */
section#home_services {
    display: block;
    position: relative;
    padding: 100px 0;
    background-image: url(img/service_wholebg.png);
    background-size: cover;
    margin-top: -70px;
}
.grid_wrap {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    max-width: 900px;
    margin: 0 auto;
    background-image: url(img/home_servicebg.png);
    background-size: cover;
    background-position: center;
}
.grid-item.service1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #af000eb3;
    border-right: 2px solid #ffff;
    border-bottom: 2px solid #fff;
}
.grid-item.service2 {
    background-color: #af000eb5;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border-right: 2px solid #ffff;
    border-bottom: 2px solid #fff;
}
.grid-item.service3 {
    background-color: #af000eb5;
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    border-bottom: 2px solid #FFF;
}
.grid-item.service4 {
    background-color: #af000eb5;
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border-right: 2px solid #ffff;
    border-bottom: 2px solid #fff;
}
.grid-item.service5 {
    background-color: #af000eb5;
    grid-column-start: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    border-bottom: 2px solid #fff;
}
.grid-item.service6 {
    background-color: #af000eb5;
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    border-right: 2px solid #ffff;
    border-bottom: 2px solid #fff;
}
.grid-item.service7 {
    background-color: #af000eb5;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    border-right: 2px solid #ffff;
    border-bottom: 2px solid #fff;
}
.grid-item.service8 {
    background-color: #af000eb5;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
    border-right: 2px solid #ffff;
}
.grid-item.service9 {
    background-color: #af000eb3;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
}

.grid-item {
    height: auto;
    min-height: 200px;
	position:relative;
}
.grid-item h3 {
    margin: 0;
    font-size: 17px;
    line-height: 24px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
    font-family: 'ralewaybold';
    text-align: right;
}

.grid_wrap a:hover {
    background-color: #ffffff70;
}
.grid_wrap a:hover h3 {
    color: #85141c;
}

/* separator2 */

#separator_two {
    background-image: url(img/separator2.png);
    height: 700px;
    background-size: cover;
    display: table;
    width: 100%;
    margin-top: -80px;
    z-index: 1;
    position: relative;
}
#separator_two h2 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}
/* ready to start */
section#ready_start {
    background-image: url(img/journey_discovery.png);
    background-position: right 0;
    height: 640px;
    background-size: cover;
    text-align: center;
    position: relative;
    display: block;
    padding: 50px 0;
    background-repeat: no-repeat;
}
section#ready_start h2 {
    position: relative;
    margin-top: 0;
}
section#ready_start h2::after {
    content: '';
    width: 100px;
    position: absolute;
    height: 5px;
    bottom: -15px;
    background-color: #a11a25;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: -webkit-translateX(-50%);
    -moz-transform: -moz-translateX(-50%);
    -o-transform: -o-translateX(-50%);
    border-radius: 6px;
}
section#ready_start p {
    display: block;
}
section#ready_start a {
    display: inline-block;
    text-decoration: none;
}
.button {
    padding: 10px 20px;
    background-color: #a11a25;
    color: #fff;
}
/* pilot project */
#pilot_project {
    display: block;
    position: relative;
    text-align: center;
    font-size: 0;
}
#pilot_project .home_future {
    width: calc(100% / 4 );
    display: inline-block;
}
#pilot_project .home_future img {
    width: auto;
    max-width: 100%;
}
/* quote section */
#quote {
    display: block;
    position: relative;
    text-align: center;
}
#quote h1 {
    width: 50%;
    margin: 0 auto;
    padding: 50px 0;
}
/* footer section */
footer {
    display: block;
    position: relative;
    background-color: #a21925;
}
.footer_logo {
    display: block;
    position: relative;
    text-align: right;
    padding: 30px 0;
}
.footer_logo img {
    width: auto;
    max-width: 200px;
    right: -40px;
    position: relative;
}
.footer_services_menu {
    display: block;
    display: block;
    position: relative;
    font-size: 0;
}
.footer_services_menu h5 {
    color: #fff;
}
.footer_services_menu ul {
    margin: 0;
    padding: 0;
}
.footer_services_menu ul li {
    list-style-type: none;
}
.footer_services_menu ul li a {
    color: #fff;
    text-decoration: none;
	    position: relative;
    vertical-align: middle;
}
.footer_services {
    width: calc(100% / 3 - 50px);
    display: inline-block;
    position: relative;
    vertical-align: top;
    padding-left: 50px;
}
.footer_menu {
    width: calc(100% / 3 - 50px);
    display: inline-block;
    position: relative;
    vertical-align: top;
    padding-left: 50px;
}
.footer_contact {
    width: calc(100% / 3 );
    display: inline-block;
	    position: relative;
    vertical-align: top;
}
.footer_contact p {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    color: #fff;
    margin: 0;
}
.footer_contact p:last-child {
    margin: 10px 0 0 0;
    width: 54%;
}

.footer_aboutus {
    display: block;
    text-align: center;
    padding: 30px 0;
}
.footer_aboutus h3 {
    color: #fff;
    margin: 0 0 10px 0;
}
.footer_aboutus h4 {
    color: #fff;
    margin: 0;
}

.fly_with_us {
    display: block;
    position: relative;
    font-size: 0;
	padding: 0 0 15px 0;
}

.copy_rights {
    width: calc(100% / 3);
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    text-align: center;
}
.copy_rights p {
    color: #fff;
    font-size: 13px;
}
.copy_rights p a {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
}
.footer_social {
    width: calc(100% / 3);
    display: inline-block;
    position: relative;
    vertical-align: bottom;
	    text-align: center;
}
.footer_social h6 {
    color: #fff;
	margin:0 0 10px 0;
}
.footer_social ul {
    margin: 0;
    padding: 0;
}
.footer_social ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 5px;
    position: relative;
    vertical-align: middle;
}
.site_map {
    width: calc(100% / 3 );
    display: inline-block;
    position: relative;
    vertical-align: bottom;
}
.site_map ul {
    margin: 0 0 13px 0;
    padding: 0;
}
.site_map ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    position: relative;
    padding: 0 10px;
}
.site_map ul li::after {
    position: absolute;
    content: '|';
    width: 2px;
    height: 14px;
    background-color: #fff;
    right: 0;
    top: 0px;
}
.site_map ul li:last-child::after {
   display:none;
}
.site_map ul li a {
    font-size: 13px;
    color: #fff;
    text-decoration: none;
}

footer::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(img/footer_before.png);
    height: 110px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}




/* agentur page design */
.inner_banner {
    height: 770px;
    background-size: cover;
    background-repeat: no-repeat;
	border-bottom: 15px solid #a21925;
}

#crew {
    display: block;
    position: relative;
}
#crew h2 {
    text-align: center;
    position: relative;
}
#crew h2::before {
    content: '';
    width: 100px;
    position: absolute;
    height: 5px;
    bottom: -15px;
    background-color: #a11a25;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: -webkit-translateX(-50%);
    -moz-transform: -moz-translateX(-50%);
    -o-transform: -o-translateX(-50%);
    border-radius: 6px;
}
#crew ul {
    margin: 0;
    padding: 0;
}
#crew ul li {
    list-style-type: none;
    font-size: 0;
    display: flex;
}
#crew .crew_content {
    width: calc(60% - 50px);
    display: flex;
    position: relative;
    vertical-align: middle;
    padding: 0 25px;
    flex-direction: column;
    align-self: center;
}
#crew .crew_content h3 {
    margin: 0;
}
#crew .crew_content h4 {
    margin: 0;
}
.crew_share {
    display: block;
    position: relative;
}
.crew_share ul li {
    display: inline-block!important;
    margin: 0 5px 0 0;
}
.crew_share ul li img {
    width: auto;
    max-width: 40px;
}
#crew .crew_image {
    width: 40%;
    display: flex;
    font-size: 0;
    flex-wrap: wrap;
}
#crew .crew_image .crew_related_image {
    width: 50%;
    display: inline-block;
}
#crew .crew_image .crew_related_image img {
    width: auto;
    max-width: 98%;
}



section#crew ul li:nth-child(even) {
    flex-direction: row-reverse;
}

/* blog-page design */
section#blog {
    display: block;
    position: relative;
    font-size: 0;
    padding: 50px 0;
}
.blog_content {
    width: calc(70% - 50px);
    display: inline-block;
    margin: 0 50px 0 0;
}
section#blog ul {
    padding: 0;
    margin: 0;
}
section#blog ul li:first-child {
    margin-top: 0;
}
section#blog ul li {
    padding: 30px 0;
    border: 1px solid #a11a25;
    margin: 50px 0;
}
section#blog ul li:last-child {
    margin-bottom: 0;
}
.blog_content_wrap {
    width: 90%;
    margin: 0 auto;
}
.blog_content img {
    width: auto;
    max-width: 100%;
}
.blog_time {
    display: block;
    position: relative;
}
.blog_time p {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
    position: relative;
}
.blog_time p::after {
    position: absolute;
    content: '|';
    top: 1px;
    right: -1px;
}
.blog_time p:last-child {
   margin:0;
   padding:0;
}
.blog_time p:last-child::after {
   display:none;
}
section#blog ul li a {
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    background-color: #ecebe5;
}section#blog ul li a {
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    background-color: #ecebe5;
}


aside.sidebar {
    width: calc(30%);
    display: inline-block;
    position: relative;
    vertical-align: top;
}
aside.sidebar h3 {
    color: #a21925;
    margin: 0;
    font-size: 22px;
}
aside.sidebar p {
    margin: 0;
}
.related_blogs {
    background-color: #a21925;
    padding: 30px 0px;
    margin: 30px 0 0 0;
}
.sidebar_latest_blog {
    min-height: 200px;
    padding: 0 30px;
}
.related_blogs h4 {
    margin: 0 0 10px 0;
    color: #fff;
    font-size: 20px;
}
.most_read_blog {
    min-height: 200px;
    padding: 0 30px;
}
.blog_promote {
    min-height: 250px;
    padding: 0 30px;
}
.sidebar_newsletter {
    min-height: 200px;
    padding: 30px 30px;
    border-top: 1px solid #fff;
}
.sidebar_newsletter h5 {
    margin: 0;
    color: #fff;
    font-family: 'ralewaymedium';
    font-weight: 100;
    font-size: 18px;
}
.sidebar_newsletter a {
    text-decoration: none;
    color: #fff;
    padding: 6px 20px;
    margin: 10px 0 0 0;
    display: inline-block;
    border: 2px solid #fff;
}

/* job page design */
#job_page {
    display: block;
    position: relative;
}
section#job_page>.content_wrap {
    padding: 50px 0;
}
#job_page h2 {
    text-align: center;
    position: relative;
}
#job_page h2::before {
    content: '';
    width: 100px;
    position: absolute;
    height: 5px;
    bottom: -15px;
    background-color: #a11a25;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: -webkit-translateX(-50%);
    -moz-transform: -moz-translateX(-50%);
    -o-transform: -o-translateX(-50%);
    border-radius: 6px;
}
#job_page .content_wrap p {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    display: block;
}
#job_page ul {
    margin: 50px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
#job_page ul li {
    list-style-type: none;
    font-size: 0;
    display: block;
	    background-color: #a11a25;
	
}
#job_page ul li .job_content {
    width: calc(50%);
    display: inline-block;
    position: relative;
    vertical-align: middle;
	align-self: center;
}
.job_content_wrap {
    width: 80%;
    margin: 0 auto;
}
.job_content h3 {
    color: #fff;
}
.job_content p {
    color: #fff;
}

.job_image {
    display: inline-block;
    width: 50%;
    background-image: url(img/job_feture.png);
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    vertical-align: middle;
}
section#job_page ul li:nth-child(even) {
    flex-direction: row-reverse;
    display: flex;
}