

@media screen and (min-width: 1000px) {

.slicknav_menu {
    display: none;
}
ul.sub_menu {
    position: absolute;
    z-index: 9;
    background-color: #a11a25;
    padding: 0;
	display:none;
}
.header_menu ul li:hover ul.sub_menu {
	display:block;
}
ul.sub_menu li {
    display: block;
    margin: 0!important;
    padding: 4px 12px;
    border-bottom: 1px solid #fff;
    background-color: #a11a25;
    text-align: left;
}
ul.sub_menu li:hover{
    background-color: #fff;
	border:1px solid #a11a25;
}
ul.sub_menu li a {
    color: #fff;
}
ul.sub_menu li:hover a {
    color: #a11a25;
}
}


@media screen and (max-width: 999px) {
.slicknav_menu {
    position: absolute;
    top: 85px;
    right: 0;
    width: 50%;
    z-index: 99;
}
}




@media screen and (max-width: 650px) {
.slicknav_menu {
    top: 125px;
}
.slicknav_menu {
    width: 60%;
}
}	
/* @media only screen and (min-width :175px) and (max-width : 1250px){
.slicknav_nav a:focus {
outline: none;
}
.slicknav_open+.slicknav_nav {
display: inline-block!important;
position: absolute;
left: 0;
right: 0;
top: 35px;
margin: 0 auto;
z-index: 999;
text-align: center;
background-color: #beb710;
box-shadow: 0px 4px 33px -2px rgba(36, 110, 241, 0.27);
font-weight: 400;
font-style: normal;
}
} */