@media screen and (min-width: 1350px) {
#separator_one,#separator_two {
    height: 750px;
}	
section#ready_start {
    background-size: contain;
}
footer::before {
    height: 120px;
}
.job_image {
    height: 380px;
}	
}
@media screen and (min-width: 1400px) {
#separator_one,#separator_two {
    height: 800px;
}	
.grid_wrap {
    max-width: 1000px;
}	
footer::before {
    height: 130px;
}
	
}
@media screen and (min-width: 1500px) {
#separator_one,#separator_two{
    height: 900px;
}	
.grid_wrap {
    max-width: 1100px;
}
section#ready_start {
    height: 850px;
}	
footer::before {
    height: 140px;
}
.job_image {
    height: 460px;
}
}
@media screen and (min-width: 1600px) {
footer::before {
    height: 160px;
}
}

@media screen and (min-width: 1800px) {
footer::before {
    height: 210px;
}
#pilot_project .home_future img {
    width: 100%;
}
.footer_logo img {
    max-width: 180px;
    right: 0;
    top: 50px;
}
.job_image {
    height: 520px;
}
}
@media screen and (min-width: 2000px) {
.job_image {
    height: 700px;
}
.job_content_wrap {
    width: 65%;
    margin: 0 auto;
}
.job_content p {
    font-size: 20px;
    line-height: 28px;
}
#separator_one {
    height: 1100px;
}
 #separator_two{
	height: 1200px; 
 }
}

@media screen and (max-width: 1100px) {
.top_company {
    width: 50%;
}
.top_contact {
    width: 50%;
    text-align: right;
}	
.top_social {
    width: 100%;
    padding: 5px 0;
}
.inner_banner {
    height: 500px;
}
.job_image {
    height: 380px;
    background-position: -130px 0;
}
footer::before {
top: -1px;
}
#separator_one {
    height: 500px;
}
#separator_two {
    height: 500px;
}
section#ready_start {
    height: 500px;
}
.slider_cont {
    width: 40%;
    left: 24%;
}
.slider_cont h3 {
    margin: 10px 0;
}
h3 {
    font-size: 27px;
    line-height: 33px;
}
.weather img {
    top: 0px;
}
}

@media screen and (max-width: 850px) {
.header_menu {
    display: none;
}
.inner_banner {
    height: 370px;
}
#crew ul li {
    flex-direction: column;
    margin-bottom: 40px;
}
#crew .crew_content {
    width: calc(100% );
}
#crew .crew_image {
    width: 100%;
}
section#crew ul li:nth-child(even) {
    flex-direction: column;
}
footer::before {
    height: 70px;
	    top: -2px;
}
#job_page ul li {
    width: 90%;
    margin: 0 auto 30px;
}
#job_page ul li .job_content {
    width: calc(100%);
}
.job_image {
    height: 380px;
    background-position: center;
    width: 100%;
    margin-top: 10px;
}
section#job_page ul li:nth-child(even) {
    flex-direction: column;
}
.site_map ul li {
    padding: 0 5px;
}
.site_map ul li::after {
    height: 12px;
    right: -1px;
    top: 6px;
}
footer::before {
    top: -2px;
}
.slider_cont {
    width: 44%;
    left: 23%;
}
.slider_cont h3 {
    margin: 5px 0;
}
h3 {
    font-size: 21px;
    line-height: 27px;
}
.weather img {
    max-width: 130px;
}
section#ready_start {
    height: 360px;
}
}
@media screen and (max-width: 650px) {
.top_company {
	width: 100%;
	text-align: center;
	padding: 5px 0;
}
.top_contact {
    width: 100%;
    text-align: center;
    padding: 5px 0;
}
.top_social {
    width: 100%;
    padding: 5px 0;
    text-align: center;
}
.con_wrap_slider {
    width: 100%;
}	
.inner_banner {
    height: 210px;
}
footer::before {
    height: 40px;
    top: -2px;
}
.footer_logo img {
    max-width: 160px;
    right: 0;
}
.footer_services {
    width: calc(100%);
    padding-left: 40px;
}
.footer_menu {
    width: calc(100%);
    padding-left: 40px;
}
.footer_contact {
    width: calc(100%);
    padding-left: 40px;
}
.copy_rights {
    width: 100%;
}
.footer_social {
    width: 100%;
}
.site_map {
    width: 100%;
}
.site_map ul {
    text-align: center;
}
.site_map ul li::after {
    top: 5px;
}
.job_image {
    height: 200px;
}
.logo img {
    width: auto;
    max-width: 130px;
}
.blog_content {
    width: calc(100%);
    margin: 0 0 40px 0;
}
aside.sidebar {
    width: calc(100%);
}
.information_content {
    flex-direction: column;
}
.three_column {
    width: calc(100% );
}
.three_column.latest_blog {
    width: calc(100%);
    margin: 20px 0;
}
.weather img {
    top: 20px;
}
#separator_one {
    height: 260px;
}
/* home services for mobile */
.grid_wrap {
    display: block;
    font-size: 0;
}
.grid-item.service1 {
    background-color: #af000eb3;
    border-right: 2px solid #ffff;
    border-bottom: 2px solid #fff;
    display: inline-block;
    width: 100%;
}
.grid-item.service2 {
    background-color: #af000eb5;
    border-right: 2px solid #ffff;
    border-bottom: 2px solid #fff;
    display: inline-block;
    width: calc(50% - 2px);
}
.grid-item.service3 {
    background-color: #af000eb5;
    border-bottom: 2px solid #FFF;
    display: inline-block;
    width: calc(50% - 2px);
}
.grid-item.service4 {
    background-color: #af000eb5;
    border-right: 2px solid #ffff;
    border-bottom: 2px solid #fff;
    display: inline-block;
    width: calc(50% - 2px);
}
.grid-item.service5 {
    background-color: #af000eb5;
    border-bottom: 2px solid #fff;
    display: inline-block;
    width: calc(50% - 2px);
}
.grid-item.service6 {
    background-color: #af000eb5;
    border-right: 2px solid #ffff;
    border-bottom: 2px solid #fff;
    display: inline-block;
    width: calc(50% - 2px);
}
.grid-item.service7 {
    background-color: #af000eb5;
    border-bottom: 2px solid #fff;
    display: inline-block;
    width: calc(50% - 2px);
}
.grid-item.service8 {
    background-color: #af000eb5;
    border-right: 2px solid #ffff;
    display: inline-block;
    width: calc(50% - 2px);
}
.grid-item.service9 {
    background-color: #af000eb3;
    display: inline-block;
    width: calc(50% - 2px);
}
/* home service end */
section#ready_start {
    height: 230px;
}
#pilot_project .home_future {
    width: 100%;
    display: inline-block;
}

/* slider response */
.bx-wrapper .bx-controls-direction a {
    width: 25px;
    height: 36px;
}
.bx-wrapper .bx-prev {
    background-size: 15px;
}
.bx-wrapper .bx-next {
    background-size: 15px;
}


.slider_cont {
    width: 54%;
    left: 16%;
}
h3 {
    font-size: 11px;
    line-height: 17px;
}
}

