<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a57a9b">  <td>19/09/14 15:44:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testproject.f()[pri:0, instance:com.Testproject@d8355a8]">f</td> 
  <td>main@1459794865</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>19/09/14 15:44:34</td>   <td>9783</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testprojecttwo.f()[pri:0, instance:com.Testprojecttwo@59fa1d9b]">f</td> 
  <td>main@1459794865</td>   <td></td> </tr>
</table>
